.node-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.node {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.node-value {
  font-weight: bold;
  font-size: 20px;
}
